
.error-msg {
    color: #f50;
    padding-left: 10px;
    padding-top: 10px;
}

/*Dashboard 组件*/
.component-dashboard .am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.component-dashboard .fixd-header.am-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.component-dashboard .page-content {
    padding: 45px 5px;
}

/*AvatarSelector 组件 结果页 component/avatar-selector/avatar-selector.js*/
.component-avatar-selector .am-result {
    padding-top: 6px;
    padding-bottom: 6px;
}

.component-avatar-selector .am-result .am-result-pic {
    width: 30px;
    height: 30px;
}

.component-avatar-selector .spe {
    width: 30px;
    height: 30px;
}

.component-avatar-selector .spexia01 {
    color: red;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.component-avatar-selector .spexia02 {
    color: #ccc;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/*User组件 component/user/user*/
.component-user .spe {
    width: 50px;
    height: 50px;
}

/*Chat组件*/
#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

.component-chat .stick-footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.component-chat .fixd-header.am-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}


